# This is an EXAMPLE credentials.py file.
#
# Copy this file to credentials.py and fill in your values.
# credentials.py is gitignored and will NEVER be committed to the repo.
#
# DO NOT put real keys or connection strings in this example file.

# Your The Blue Alliance (TBA) API key.
# Get one at: https://www.thebluealliance.com/account
TBA_AUTH_KEY = ""

# The URIs to use to connect to the desired MongoDB server(s).  You MUST
# always have a PRIMARY_CONNECTION_STRING value.  If you want to save to
# other databases as well then set the SECONDARY_CONNECTION_STRING as
# well.
#
# Use "mongodb://localhost:27017/" for a local MongoDB server.
# Use your MongoDB Atlas connection string (e.g. mongodb+srv://strategy:wziE7Q5...) for a remote server
PRIMARY_CONNECTION_STRING = ""

# Secondary MongoDB connection information is here. If you are NOT planning
# on saving a secondary server then simply leave SECONDARY_CONNECTION_STRING
# as an empty string!
SECONDARY_CONNECTION_STRING = ""
